nav {
	background-color: #17143f;
	display: flex;
	justify-content: space-around;
	font-family: verdana;
	color: rgb(211, 211, 211);
}

.nav-links {
	display: flex;
	justify-content: space-around;
	width: 25%;
	list-style: none;
}

.nav-links a{
	color:rgb(211, 211, 211);
	text-decoration: none;
	font-weight: bold;
}

.container {
	display: flex;
	justify-content: space-around;
}

canvas {
	margin: 10px;
	background: #201E50;
	border-radius: 25px;
}

.slider {
	width: 30%
}

.howitworksbox {
	margin:auto;
	width: 500px;
	word-break: break-word;
	text-align: center;
}

h3 {
	font-family: "verdana";
}

p {
	font-family: "verdana";
}

body {
	background-color: white;
}

button {
	transition-duration: 0.5s;
	background-color: azure;
	border: 2px solid royalblue;
	color: dimgray;
	font-size: 16px;
	text-align: center;
	padding: 14px 40px;
}

button:hover {
	background-color: royalblue;
	color:azure;
}
